1D arry is called as series
2 D array or multiple cols and rows are dataframe

Pandas Series
A Pandas Series is like a column in a table
It is a one dimensional array holding data of anytype

In [24]:
import pandas as pd

In [25]:
#Series Method
series = pd.Series([1,7,2,8,5])
print(series)

0    1
1    7
2    2
3    8
4    5
dtype: int64

In [26]:
data=pd.DataFrame({
    'Name':['Ankit','Ashvani','Kanhaiya','Ayush','Vishakha'],
    'Age':[23,25,23,23,21],
    'University':['BHU','MNU','AKTU','BHU','AKTU']
})

In [27]:
print(data)

       Name  Age University
0     Ankit   23        BHU
1   Ashvani   25        MNU
2  Kanhaiya   23       AKTU
3     Ayush   23        BHU
4  Vishakha   21       AKTU

In [28]:
data.to_csv('students.csv') # also include the index like  0,1,2,3
data.to_csv('students.csv',index=False) # prevent the DataFrame's row labels from being included in csv file

In [29]:
# To read a csv file 
# copy the path of the file
# make new variable 
# use pandas or pd.read_csv(path of file)
# convert the bckslash\  to that ///

In [30]:
readfileData=pd.read_csv('D:/Data Analytics/UnifiedMentor/students.csv')
print(readfileData)

       Name  Age University
0     Ankit   23        BHU
1   Ashvani   25        MNU
2  Kanhaiya   23       AKTU
3     Ayush   23        BHU
4  Vishakha   21       AKTU

Upload Datasets
Same as it is
Copy path of file upload the file in folder 
do same 
var=pd.read_filetype('path')
convert \ to //

In [31]:
newfile = pd.read_excel(r'D:\Data Analytics\UnifiedMentor\sample_students.xlsx')
# print(newfile.head)  prints name of the columns
print(newfile)

    ID     Name  Age Course  Score
0  101    Alice   20     CS     85
1  102      Bob   22     IT     78
2  103  Charlie   21    ECE     92
3  104    David   23     ME     88
4  105     Emma   20     CS     76

Groupby function 
first read the file and entries
store file in var
read the column names for groupby method
use var.groupby('columname','col..'...)[[first col]].count()

In [32]:
sample=pd.read_csv(r'D:\Data Analytics\UnifiedMentor\Sample.csv')
print(sample)
# print(sample.head)

      ID        Name  Age Course  Score  Attendance Grade
0   1001   Student_1   18    ECE     68          80     D
1   1002   Student_2   24     ME     80          74     B
2   1003   Student_3   21     ME     79          86     A
3   1004   Student_4   20     EE     55          60     C
4   1005   Student_5   22     ME     59          82     C
5   1006   Student_6   21     EE     84          97     D
6   1007   Student_7   19     EE     75          77     B
7   1008   Student_8   24     CS     62          81     B
8   1009   Student_9   21     IT     78          97     A
9   1010  Student_10   20    ECE     89          64     B
10  1011  Student_11   21     IT     95          63     D
11  1012  Student_12   22     CS     56          99     D
12  1013  Student_13   22     CS     62          93     A
13  1014  Student_14   24     IT     64          65     A
14  1015  Student_15   24     IT     79          63     D
15  1016  Student_16   19     EE     52          66     C
16  1017  Student_17   21    ECE     65          86     A
17  1018  Student_18   22    ECE     51          64     D
18  1019  Student_19   20    ECE     93          95     B
19  1020  Student_20   22     CS     94          82     D
20  1021  Student_21   18     ME     90          90     D
21  1022  Student_22   24     ME     82          95     A
22  1023  Student_23   24     CS     70          80     B
23  1024  Student_24   24    ECE     75          93     C
24  1025  Student_25   23     ME     65          74     C
25  1026  Student_26   21     CS     73          85     D
26  1027  Student_27   24     EE     78          62     D
27  1028  Student_28   23     IT     62          73     D
28  1029  Student_29   22     CS     76          67     B
29  1030  Student_30   20     CS     99          98     A
30  1031  Student_31   21     IT     73          83     D
31  1032  Student_32   19     ME     58          79     B
32  1033  Student_33   18     CS     76          86     D
33  1034  Student_34   23     ME     90          65     B
34  1035  Student_35   19     CS     60          71     C
35  1036  Student_36   19     CS     93          73     B
36  1037  Student_37   24    ECE     78          71     C
37  1038  Student_38   18     EE     54          71     D
38  1039  Student_39   23     IT     55          88     B
39  1040  Student_40   23     EE     73          87     A
40  1041  Student_41   22     CS     98          87     C
41  1042  Student_42   22     ME     77          76     A
42  1043  Student_43   24    ECE     67          87     A
43  1044  Student_44   23     IT     76          86     B
44  1045  Student_45   24    ECE     62          71     D
45  1046  Student_46   21    ECE     76          68     A
46  1047  Student_47   18    ECE     51          88     B
47  1048  Student_48   24     EE     87          82     C
48  1049  Student_49   21     CS     58          95     C
49  1050  Student_50   19     CS     55          83     A

In [33]:
print(sample.head())

     ID       Name  Age Course  Score  Attendance Grade
0  1001  Student_1   18    ECE     68          80     D
1  1002  Student_2   24     ME     80          74     B
2  1003  Student_3   21     ME     79          86     A
3  1004  Student_4   20     EE     55          60     C
4  1005  Student_5   22     ME     59          82     C

In [34]:
result=sample.groupby("Course")['Score'].mean()
print(result)
result=sample.groupby("Course").count()
print(result)

Course
CS     73.714286
ECE    70.454545
EE     69.750000
IT     72.750000
ME     75.555556
Name: Score, dtype: float64
        ID  Name  Age  Score  Attendance  Grade
Course
CS      14    14   14     14          14     14
ECE     11    11   11     11          11     11
EE       8     8    8      8           8      8
IT       8     8    8      8           8      8
ME       9     9    9      9           9      9

Pandas Date range
ðŸ“… Pandas date_range() â€“ Generate Date Sequences
The pd.date_range() function in Pandas is used to create a range of dates with a specified frequency.

In [41]:
# generate daily sequence
# dates=pd.date_range("2025-03-03","2025-03-23")
# print(dates)
# generate periods 5 freq
# dates=pd.date_range("2025-03-03",periods=5,freq='D')
# print(dates)
# dates=pd.date_range("2025-03-03",periods=10,freq='W-MON')
# print(dates)
# dates=pd.date_range("2025-03-03",periods=10,freq='B')
# print(dates)
# dates=pd.date_range("2025-03-03",periods=10,freq='B')
# print(dates)
dates=pd.date_range("2022-03-03","2025-03-23",freq='M')
print(dates)

DatetimeIndex(['2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
               '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
               '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28',
               '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30',
               '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31',
               '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29',
               '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30',
               '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31',
               '2024-11-30', '2024-12-31', '2025-01-31', '2025-02-28'],
              dtype='datetime64[ns]', freq='ME')

C:\Users\user\AppData\Local\Temp\ipykernel_1504\1204933733.py:13: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates=pd.date_range("2022-03-03","2025-03-23",freq='M')